server:
  port: 8888

spring:
  application:
    name: config-service
  profiles:
    active: native

  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config


#eureka:
#  client:
#    service-url:
#      defaultZone: http://eureka-service:8761/eureka/
#    register-with-eureka: true
#    fetch-registry: true
#    enabled: true
#    initial-instance-info-replication-interval-seconds: 5
#    instance-info-replication-interval-seconds: 5

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

management:
  endpoints:
    web:
      exposure:
        include: health, info, refresh, bus-refresh
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.config.server: DEBUG